  /* Para debug
*{ 
    border: solid red;
}*/

/* Colores de la paleta */
:root {
  --color-principal: #754b36;
  --color-secundario: #d7a68f;
  --color-terciario: #E3CAA5;
  --color-fondo: #fbf2e4;
    --color-texto: #000;
}

/* General */
html{
  scroll-behavior: smooth;
  scroll-padding: 120px;
}

header{
  background-color: #CEAB93;
}

#splash{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#splash img{
  width: 40%;
  height: auto;
}

#splash p{
  font-size: 50px;
    color: #754b36;
}

#Botones{
  font-size: 25px;
  border-radius: 2px;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}

#logo {
  width: 100px;
  height: 100px;
  
  margin-right: 1rem;
}

#logo2 {
  width: 100px;
  height: 100px;
  
  margin-right: 1rem;
}
/* Navbar */
.navbar{
    background-color: var(--color-principal);

    position: fixed;
    z-index: 2;

    top: 0;
    width: 100%;
}

.navbar a{
  font-size: 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    color: #fff !important;
}

.navbar a:hover{
  font-size: 25px;
  text-decoration: underline;
}
/* Header2 Section */
.hero-section {
    background-color: var(--color-fondo);
    color: #754b36;
    padding: 60px 0;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {

    font-size: 1.25rem;
}

/* Servicios Section */
.service-box {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    border : 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-box h3 {
    font-size: 1.5rem;
}

footer {
    text-align: left;

    background-color: var(--color-principal);
    color: #fff;
    padding: 20px 0;
}

footer p{
  margin-left: 20px;
  
  font-style: italic;
}

header h2 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #f9f0e3;
    font-size: 70px;
  }

  /* Registro de mascota */


  
 #formularioRegistro{
  font-weight: bold;
  display: flex;
  flex-direction: column;

 }

 .form-group { /* New class for each input and label */
  display: flex; /* Arrange labels and inputs horizontally */
  align-items: center; /* Align elements vertically */
  gap: 15px; /* Space between label and input */
}
 #mascotaForm{
  margin: auto;
 
  justify-content: space-around;
  

 }
 .form-group label {
  min-width: 120px; /* Ensure labels have consistent width */
}

 button{
  font-weight: bold;
  background-color: var(--color-terciario);
  padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

 }
 button:hover{
  background-color: var(--color-principal)
 }

 

 /* Contenedores */

 .container{
  margin-top: 70px;
  margin-bottom: 90px;
 }


 #QuienesSomos img  {

  display: block;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 35px;
  float:left;

  border: 1px solid  black;

  
 }
 .container p{
  
  text-align: justify;
 }


  #QuienesSomos .container p{
    padding: 0px 150px;
    font-size: large;
     
  }
 
  h2{
    
    font-size: 45px;
  font-weight: bold;
  }
 
 .contenedor_cafe{
  border: 1px solid #333;
  background-color: var(--color-secundario);
  padding: 30px; /* Consistent padding */
  margin: 50px auto; /* Center the form */
     border-style: none;
 
 }

 .contenedor_claro{
 
  background-color: var(--color-fondo);
  padding: 30px; /* Consistent padding */
  margin: 50px auto; /* Center the form */
 
 }

 /* Personalización del carrusel */
/* Ensure the carousel spans the full width of the page */
#Mision .carousel-item img {
    width: 100%; /* Ensure images take full width */
    max-height: 500px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images cover the container */
    image-rendering: auto; /* Default rendering */
    image-rendering: -webkit-optimize-contrast; /* High-quality rendering for WebKit browsers */
    image-rendering: optimizeQuality; /* High-quality rendering */

}
#Mision .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */

}

#Mision .carousel-control-prev-icon,
#Mision .carousel-control-next-icon {
    background-color: #333; /* Color de fondo de los iconos de control */
    border-radius: 50%; /* Iconos redondeados */
}

/* Ensure the carousel spans the full width of the page */
#Mision .carousel-item img {
    width: 100%; /* Ensure images take full width */
    max-height: 500px; /* Adjust the height as needed */
    object-fit: cover; /* Ensure images cover the container */

}

#Mision .container, #Mision #misionCarousel {
    width: 100%; /* Ensure the container takes full width */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */

    z-index: 1;
}


#Mision{
    margin: 0;
}

#contact p{
  font-size: 15px;
  font-style: italic;
  text-align: center;
}

