  /* Para debug
*{ 
    border: solid red;
}*/

/* Colores de la paleta */
:root {
  --color-principal: #AD8B73;
  --color-secundario: #CEAB93;
  --color-terciario: #E3CAA5;
  --color-fondo: #FFFBE9;
}

/* General */
html{
  scroll-behavior: smooth;
  scroll-padding: 120px;
}

header{
  background-color: #CEAB93;
}

#splash{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

#splash img{
  width: 40%;
  height: auto;
}

#splash p{
  font-size: 50px;
}

#Botones{
  font-size: 25px;
  border-radius: 2px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}
#logo {
  width: 100px;
  height: 100px;
  
  margin-right: 1rem;
}
.navbar{
    background-color: var(--color-principal);

    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a{
  font-size: 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    color: #fff !important;
}

.navbar a:hover{
  font-size: 30px;
}

.hero-section {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 60px 0;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1.25rem;
}

.service-box {
    background-color: var(--color-terciario);
    padding: 20px;
    border-radius: 8px;
    margin: 10px 0;
    border : 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.service-box h3 {
    font-size: 1.5rem;
}

footer {
    text-align: left;

    background-color: var(--color-principal);
    color: #fff;
    padding: 20px 0;
}

footer p{
  margin-left: 20px;
  
  font-style: italic;
}

header h2 {
    font-family: "Rozha One", serif;
    font-weight: 400;
    font-style: normal;
    color: #764b36;
    font-size: 70px;
  }

  /* Registro de mascota */

  #RegistroMascota{
    border: 1px solid #333;
    background-color: var(--color-secundario);
    padding: 30px; /* Consistent padding */
    margin: 50px auto; /* Center the form */
    font-weight: bold;
  }
  
 #formularioRegistro{
  font-weight: bold;
  display: flex;
  flex-direction: column;

 }

 .form-group { /* New class for each input and label */
  display: flex; /* Arrange labels and inputs horizontally */
  align-items: center; /* Align elements vertically */
  gap: 15px; /* Space between label and input */
}
 #mascotaForm{
  margin: auto;
 
  justify-content: space-around;
  

 }
 .form-group label {
  min-width: 120px; /* Ensure labels have consistent width */
}

 button{
  font-weight: bold;
  background-color: var(--color-terciario);
  padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

 }
 button:hover{
  background-color: var(--color-principal)
 }

 

 /* Contenedores */

 .container{
  margin-top: 70px;
  margin-bottom: 90px;
 }

