/* Para debug
*{
  border: solid red;
}*/

/* Colores de la paleta */
:root {
    --color-principal: #754b36;
    --color-secundario: #d7a68f;
    --color-terciario: #E3CAA5;
    --color-fondo: #fbf2e4;
    --color-texto: #000;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 120px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0;
    padding: 0;
}



header button{
    background-color: red;
    color: white;
    border: 1px solid black;
    cursor: pointer;

    justify-content: right;
}


h2, h3{
    font-family: "Rozha One", serif;

    text-align: center;
    color: #754b36;
}

h3{
    font-size: 25px;
    font-style: italic;
}