  /* Para debug
*{ 
    border: solid red;
}*/

/* Colores de la paleta */
:root {
  --color-principal: #754b36;
  --color-secundario: #d7a68f;
  --color-terciario: #E3CAA5;
  --color-fondo: #fbf2e4;
    --color-texto: #000;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 120px;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}

header h1{
  display: flex;
  flex-direction: column;

  font-family: "Rozha One", serif;
  font-weight: 400;
  font-style: normal;
  color: #fbf2e4;
  font-size: 70px;
  
  padding-right: 10px;
}

header button{
  background-color: red;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  
  justify-content: right;
}

footer {
  text-align: left;

  background-color: var(--color-principal);
  color: #fff;
  padding: 20px 0;
}

footer p{
margin-left: 20px;

font-style: italic;
}

.navbar{
  background-color: var(--color-principal);

  position: fixed;
  z-index: 2;

  top: 0;
  width: 100%;
}

.navbar a{
  font-size: 20px;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.nav-link {
    color: #fff !important;
}

.navbar a:hover{
  font-size: 25px;
  text-decoration: underline;
}

main{
  margin-top: 200px;
  margin-bottom: 200px;
}

/*Estilo de la tabla*/
.table {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.table img{
  height: auto;
  width: 50px;
}

.table tr:nth-child(odd){
  background-color: lightgrey;
}

.table-hover tbody tr:hover {
    transform: translateY(-5px);
}

.table td{
  font-weight: bold;
  vertical-align: middle;
}

#tableTitle{
  font-weight: bold;
  color: #754b36;
}

.table a{
  text-align: center;
}