<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion de Mascota</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/errorFindPetStyle.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rozha+One&display=swap" rel="stylesheet">
</head>

<body>
<header>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <h1>Informacion de Mascota</h1>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/lista">Volver a lista</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/menu">Menu Principal</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</header>

<main>
    <h2>La mascota ingresada no se encuentra registrada en nuestra pagina</h2>
    <h3 th:text="'Id: ' + ${id}"></h3>
</main>

<footer>
    <p>&copy; 2024 Haven - Clínica Veterinaria. Todos los derechos reservados.</p>
</footer>
</body>

</html>